[submodule "flag-icon-css"]
	path = submodules/flag-icon-css
	url = https://github.com/lipis/flag-icon-css.git
[submodule "submodules/browser-logos"]
	path = submodules/browser-logos
	url = https://github.com/alrra/browser-logos.git
